BLOG_ENV_ID=local
BLOG_SECRET_KEY=replace-with-real-secret-key
BLOG_DEBUG=True
BLOG_REDIS_URL=redis://127.0.0.1:6379/0
BLOG_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
BLOG_ALLOWED_HOSTS=localhost,127.0.0.1