# Blog
BLOG_ENV_ID=local
BLOG_SECRET_KEY=my-secret-key
BLOG_DEBUG=True
BLOG_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
BLOG_ALLOWED_HOSTS=localhost,127.0.0.1

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CELERY_DB=1
REDIS_DB=2
