# Blog
BLOG_ENV_ID=local
BLOG_SECRET_KEY=my-secret-key
BLOG_DEBUG=True
BLOG_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
BLOG_ALLOWED_HOSTS=localhost,127.0.0.1
BLOG_DATABASE_NAME=data/db.sqlite3

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CELERY_DB=1
REDIS_DB=2

# Redis Full URLs
BLOG_REDIS_URL=redis://redis:6379/0
BLOG_CELERY_BROKER_URL=redis://redis:6379/1

# Flower
BLOG_FLOWER_USER=admin
BLOG_FLOWER_PASSWORD=changeme

# Celery
CELERY_BEAT_SCHEDULE_FILENAME=data/celerybeat-schedule
